.section {
  padding: 100px 20px;
  height: 100vh;  /* Full viewport height for each section */
  text-align: center;
  background-color: #f4f4f4;
}

#projects {
  background-color: #c8e6c9;
}

#aboutus {
  background-color: #bbdefb;
}
